@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ip2beu');
	src:url('../fonts/icomoon.eot?ip2beu#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ip2beu') format('truetype'),
		url('../fonts/icomoon.woff?ip2beu') format('woff'),
		url('../fonts/icomoon.svg?ip2beu#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
	content: "\e800";
}
.icon-chat1:before {
	content: "\e801";
}
.icon-chat2:before {
	content: "\e802";
}
.icon-chat3:before {
	content: "\e803";
}
.icon-bubble1:before {
	content: "\e804";
}
.icon-bubbles2:before {
	content: "\e805";
}
.icon-bubbles3:before {
	content: "\e806";
}
.icon-usersIcon:before {
	content: "\e807";
}
.icon-happy:before {
	content: "\e808";
}
.icon-happy2:before {
	content: "\e809";
}
.icon-wink:before {
	content: "\e80a";
}
.icon-wink2:before {
	content: "\e80b";
}
.icon-grin:before {
	content: "\e80c";
}
.icon-grin2:before {
	content: "\e80d";
}
.icon-notification:before {
	content: "\e80e";
}
.icon-question:before {
	content: "\e80f";
}
.icon-calendar:before {
	content: "\e810";
}
.icon-info:before {
	content: "\e811";
}
.icon-enter:before {
	content: "\e812";
}
.icon-exit:before {
	content: "\e813";
}
.icon-embed:before {
	content: "\e814";
}
.icon-embed2:before {
	content: "\e815";
}
.icon-terminal:before {
	content: "\e816";
}
.icon-atomCircleIcon:before {
	content: "\e817";
}
.icon-atomIcon:before {
	content: "\e818";
}
.icon-chipIcon:before {
	content: "\e819";
}
.icon-codeIcon1:before {
	content: "\e81a";
}
.icon-codeIcon2:before {
	content: "\e81b";
}
.icon-consoleIcon:before {
	content: "\e81c";
}
.icon-paletteIcon1:before {
	content: "\e81d";
}
.icon-paletteIcon2:before {
	content: "\e81e";
}
.icon-poopIcon1:before {
	content: "\e81f";
}
.icon-poopIcon2:before {
	content: "\e820";
}
.icon-soccerIcon1:before {
	content: "\e821";
}
.icon-soccerIcon2:before {
	content: "\e822";
}
.icon-trophyIcon1:before {
	content: "\e823";
}
.icon-trophyIcon2:before {
	content: "\e824";
}
.icon-calendar2:before {
	content: "\e825";
}
