/* ------------------------- BASE STYLES -----------------------*/
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #d3d3d3;
    color: #fefefe;
}
h1,h2,h3{
  color: #111314;
}

/* ------------------------- TEXT STYLES -----------------------*/
.textBlue{
color: #04b6d1;
}
.textGreen{
color: #4ac143;
}
.textGray{
color: #111314;
}
.textBlack{
  color: #000;
}
.indexFecha{
  font-weight: bold;
  text-decoration:underline;
}
.indexCategoria{
  /*-webkit-text-stroke: 1px black;*/
  color: #4ac143;
  /*text-shadow: 2px 1px 0px #000;*/
  /*
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  */
}
.textoCategoria{
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 40%;
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  color: #fff;
  /*
  background-color:#041c47;
  color: #fff;
  */
  font-size: 3em;
  text-shadow: 2px 1px 0px #000;
  border-radius: 0px 100px 0px 0px;
}
.indexPregunta{
  padding-top: 10px;
  font-size: 24px;
  color: #041c47;
  text-decoration: overline;
}
.indexTextoPregunta{
  max-width: 500px;
  color: #111314;
}
.indexCodigoPregunta{
  margin-left: 10px;
  max-width: 200px;
  background-color: #c8c8c8;
  color: #111314;
}
/* ------------------------- Textures  -----------------------*/
.bodyNoise{
  background: url(../images/noiseBody.png) repeat center center;
}
.headerNoise{
  /*Blue:*/
  /*background: url(../images/noiseHeader.png) repeat center center;*/
  /*Grey:*/
  background: url(../images/noiseHeaderGrey.png) repeat center center;
}
/* ------------------------- CONTAINERS STYLES  -----------------------*/
.headContainer {
  padding-top: 20px;
  /*Blue:*/
  /*background-color: #041c47;*/
  /*Grey:*/
  background-color:#111314;
}
.buscarContainer{
  padding-bottom: 10px;
}
.indexIconsContainer{
  text-align: center;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}
.iconsContainer{
  text-align: center;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
.singleIconContainer{
  padding-left: 0;
  padding-right: 0;
}
.indexLogoContainer {
  position: absolute;
  top: 10%; /*Before: 50% */
  right: 0;
  z-index: 10;
}
.logoContainer {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 10;
}
.registroContainer{
  padding-top: 20px;
  text-align: center;
}
.carouselContainer{
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#111314;
  border-radius:10px;
}
.carouselImageContainer{
  width: 1024px;
  max-height: 500px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.indexCategoriaContainer{
    padding-top:10px;
}

a.list-group-item{
  /*background-color: #041c47;*/
  background-color: #111314;
  font-size: 16px;
}
a.list-group-item:hover{
  background-color: #041c47;
  color: #fff;
  font-size: 18px;
  /*background-color: #111314;*/
}
.contenidoContainer{
  margin: 0;
  padding: 0;
}
.preguntaContainer{
  margin-top: 20px;
  background-color: #4ac143;
  border-radius:10px;
  border: 2px solid #000;
}
.mejorRespuestaContainer{
  margin-top: 5px;
  background-color: #151718;
  border-radius:10px;
  border: 2px solid #000;
}
.respuestasContainer{
  margin-top: 5px;
  background-color: #fff;
  border-radius:10px;
  border: 2px solid #000;
}
.historialContainer{
  margin-top: 20px;
  /*
  background-color: #fff;
  border-radius:10px;
  border: 2px solid #000;
  */
}
.categoriaContainer{
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  height: 150px;
  overflow: hidden;
}

/* ------------------------- ELEMENT STYLES  -----------------------*/
.logo{
  max-width:30%;
}
.separator{
  height: 5px;
  background-color: black;
}
.indexCircle{
  width: 250px; /*before:250*/
  height: 250px;
  position: absolute;
  top: 0px;
  right: 0px;
  /*Blue:*/
  /*
  background: url(../images/noiseHeader.png) repeat center center;
  background-color: #041c47;
  */
  /*Grey:*/
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  border-radius: 10px 10px 10px 500px;
  z-index: 9;
}
.circle{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  right: -15px;
  /*Blue:*/
  /*
  background: url(../images/noiseHeader.png) repeat center center;
  background-color: #041c47;
  */
  /*Grey:*/
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  border-radius: 10px 10px 10px 500px;
  /*border-radius: 500px;*/
  z-index: 9;
}
.indexCategoriaContainer a{
  color: #FFF
}
.imagenCategoria{
  min-width: 100%;
}
#imagenArte{
  margin-top: -380px; /*Centrar imagen*/
}
#imagenCiencia{
  margin-top: -130px; /*Centrar imagen*/
}
#imagenDeporte{
  margin-top: -450px; /*Centrar imagen*/
}
#imagenProgramacion{
  margin-top: -200px; /*Centrar imagen*/
}
#imagenTecnologia{
  margin-top: -400px; /*Centrar imagen*/
}
.btnCarousel{
  color: #fff;
  background-color: #04b6d1;
  border-color: #04b6d1;
}
.btnCarousel:hover{
  color: #000;
  background-color:#4ac143;
  border-color: #4ac143;
}
.indexLogo_R{
  color: #04b6d1;
  font-size: 150px;
  text-shadow: 5px 2px 5px #000;
  -webkit-text-stroke: 3px black;
  /*-webkit-text-fill-color: white;*/
}
.indexLogo_Ogo{
  color: #fff;
  font-size: 100px;
  /*text-shadow: 8px 9px 0px #000;*/
  text-shadow:
       7px 7px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  -webkit-text-stroke: 3px black;
}
.iconosPregunta{
  color: #fff;
  size:50px;
}
.menuIconosCategoria{
  padding-right: 20px;
  /*color: #04b6d1;*/
  color: #4AC143;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 0px #000;
}
.indexIconosCategoria{
  padding-right: 20px;
  padding-left: 20px; /*Quitar*/
  color: #111314;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 1px 1px 0px #000;
}
.iconosCategoria{
  padding-left: 15px; /*Quitar*/
  /*color: #04b6d1;*/
  color: #4ac143;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 1px 1px 0px #000;
}
/*------------------- Modificaciones sobre clases boostrap ---------------------*/
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  /*Blue:*/
  background-color: #04b6d1;
  /*Green:*/
  /*background-color: #4ac143;*/
}

.carousel-caption {
  position: absolute;
  /*right: 15%;*/
  top:0px;
  left:0;
  z-index: 10;
  padding-left:5%;
  padding-top:0px;
  padding-bottom:0px;
  text-align: left;
  /*text-shadow: 2px 1px 2px #000;*/
  text-shadow: 2px 1px 0px #000;
}

.carousel-caption h1{
  /*background: url(../images/noiseHeaderGrey.png) repeat center center;*/
  /*background-color:#111314;*/
  /*border-radius: 10px 0px 0px 10px;*/
  color: #4ac143;
  font-size: 3em;
}

.carousel-caption p{
  position: absolute;
  /*right: 15%;*/
  top:50%;
  left:20%;
  z-index: 10;
  color: #fff;
  font-size: 3em;
  text-align: left;
  text-shadow: 0 6px 2px #000;
  /*-webkit-text-stroke: 2px black;*/
  /*-webkit-text-fill-color: white;*/
}

.carousel-caption a{
  position: absolute;
  /*right: 15%;*/
  top:80%;
  left: 55%;
  z-index: 10;
}

.btn-default {
    color: #FFF;
    background-color: #04b6d1;
    border-color: #04b6d1;
}

.btn-primary {
    color: #fff;
    background-color: #04b6d1;
    border-color: #04b6d1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: black;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}
