/* ------------------------- BASE STYLES -----------------------*/
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #d3d3d3;
    color: #fefefe;
}
/* ------------------------- TEXT STYLES -----------------------*/
.textBlue{
color: #04b6d1;
}
.textGreen{
color: #4ac143;
}
.textGray{
color: #111314
}
.textBlack{
  color: #000;
}
/* ------------------------- Textures  -----------------------*/

.bodyNoise{
  background: url(../images/noiseBody.png) repeat center center;
}

.headerNoise{
  /*Blue:*/
  /*background: url(../images/noiseHeader.png) repeat center center;*/
  /*Grey:*/
  background: url(../images/noiseHeaderGrey.png) repeat center center;
}
/* ------------------------- CONTAINERS STYLES  -----------------------*/
.headContainer {
  padding-top: 20px;
  /*Blue:*/
  /*background-color: #041c47;*/
  /*Grey:*/
  background-color:#111314;
}

.buscarContainer{
  padding-bottom: 10px;
}

.indexIconsContainer{
  text-align: center;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.iconsContainer{
  text-align: center;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.singleIconContainer{
  padding-left: 0;
  padding-right: 0;
}

.indexLogoContainer {
  position: absolute;
  top: 10%; /*Before: 50% */
  right: 0;
  z-index: 10;
}

.logoContainer {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 10;
}

.registroContainer{
  padding-top: 20px;
  text-align: center;
}

.carouselContainer{
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#111314;
  border-radius:10px;
}

.carouselImageContainer{
  width: 1024px;
  max-height: 500px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.IndexCategoria{
    padding-top:10px;

}

.list-group-item{
  background-color: #041c47;

}
.IndexCategoria a{
  color: #FFF

}
.TituloCategoria{
  text-align: center;
}
.TituloCategoria h1{
  color: #000
}

.categoriaContainer{
  max-width: 100%;
  height: 150px;
  left: -2px;
  top: -2px;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.textoCategoriaContainer{
  position: absolute;
  margin-top: 40px;
  padding-left: 80px;
  background-color:#111314;
  /*background-color:#000;*/
  font-size: 3em;
  color: #4ac143;
  text-shadow: 2px 1px 5px #4ac143;
  border-radius: 0px 10px 10px 0px;
}

.contenidoContainer{
  margin: 0;
  padding: 0;
}

.preguntaContainer{
  margin-top: 20px;
  background-color: #4ac143;
  border-radius:10px;
  border: 2px solid #000;
}

.mejorRespuestaContainer{
  margin-top: 5px;
  background-color: #151718;
  border-radius:10px;
  border: 2px solid #000;
}

.respuestasContainer{
  margin-top: 5px;
  background-color: #fff;
  border-radius:10px;
  border: 2px solid #000;
}
/* ------------------------- ELEMENT STYLES  -----------------------*/
.logo{
  max-width:30%;
}

.separator{
  height: 5px;
  background-color: black;
}

.indexCircle{
  width: 250px; /*before:250*/
  height: 250px;
  position: absolute;
  top: 0px;
  right: 0px;
  /*Blue:*/
  /*
  background: url(../images/noiseHeader.png) repeat center center;
  background-color: #041c47;
  */
  /*Grey:*/
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  border-radius: 10px 10px 10px 500px;
  z-index: 9;
}

.circle{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  right: -15px;
  /*Blue:*/
  /*
  background: url(../images/noiseHeader.png) repeat center center;
  background-color: #041c47;
  */
  /*Grey:*/
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  border-radius: 10px 10px 10px 500px;
  /*border-radius: 500px;*/
  z-index: 9;
}

.btnCarousel{
  color: #fff;
  background-color: #04b6d1;
  border-color: #04b6d1;
}

.btnCarousel:hover{
  color: #000;
  background-color:#4ac143;
  border-color: #4ac143;
}

.iconosPregunta{
  color: #fff;
  size:50px;
}

/*------------------- Modificaciones sobre clases boostrap ---------------------*/
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  /*Blue:*/
  background-color: #04b6d1;
  /*Green:*/
  /*background-color: #4ac143;*/
}

.carousel-caption {
  position: absolute;
  /*right: 15%;*/
  top:0px;
  left:0;
  z-index: 10;
  padding-left:5%;
  padding-top:0px;
  padding-bottom:0px;
  color: #4ac143;
  text-align: left;
  /*text-shadow: 2px 1px 2px #000;*/
  text-shadow: 2px 1px 5px #4ac143;
}

.carousel-caption h1{
  background-color:#111314;
  border-radius:5px;
  font-size: 3em;
}

.carousel-caption p{
  position: absolute;
  /*right: 15%;*/
  top:50%;
  left:20%;
  z-index: 10;
  color: #fff;
  font-size: 3em;
  text-align: left;
  text-shadow: 0 6px 2px #000;
  /*-webkit-text-stroke: 2px black;*/
  /*-webkit-text-fill-color: white;*/
}

.carousel-caption a{
  position: absolute;
  /*right: 15%;*/
  top:80%;
  left: 55%;
  z-index: 10;
}

.btn-default {
    color: #FFF;
    background-color: #04b6d1;
    border-color: #04b6d1;
}

.btn-primary {
    color: #fff;
    background-color: #04b6d1;
    border-color: #04b6d1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: black;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}
