/* ------------------------- BASE STYLES -----------------------*/
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #d3d3d3;
    color: #fefefe;
}
h1,h2,h3{
  color: #111314;
}

/* ------------------------- TEXT STYLES -----------------------*/
.textBlue{
color: #04b6d1;
}
.textGreen{
color: #4ac143;
}
.textGray{
color: #111314;
}
.textBlack{
  color: #000;
}
.indexFecha{
  font-weight: bold;
  text-decoration:underline;
}
.indexCategoria a{
  color: #4ac143;
  padding-top: 20px;
  padding-bottom: 30px;
}
.indexCodigoPregunta{
  text-align: justify;
  max-width: 70%;
  margin-left: 10px;
  background-color: #c8c8c8;
  color: #111314;
}
.textoCategoria{
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 40%;
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  color: #fff;
  text-shadow: 2px 1px 0px #000;
  border-radius: 0px 100px 0px 0px;
}
.indexPregunta a{
  text-align: left;
  color: #041c47;
  text-decoration: overline;
}
.indexUsuarioPregunta{
  color: #111314;
  text-decoration: underline;
}
.indexVotoPregunta{
  color: #111314;
}
.indexPuntuacionPregunta{
  color: #111314;
}
.indexTextoPregunta{
  font-size: 14px;
  text-align: justify;
  color: #111314;
}
/* ------------------------- Textures  -----------------------*/
.bodyNoise{
  background: url(../images/noiseBody.png) repeat center center;
}
.headerNoise{
  background: url(../images/noiseHeaderGrey.png) repeat center center;
}
/* ------------------------- CONTAINERS STYLES  -----------------------*/
.headContainer {
  padding-top: 20px;
  background-color:#111314;
}
.buscarContainer{
  padding-bottom: 10px;
}
.indexIconsContainer{
  text-align: center;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}
.indexPreguntaContainer{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}
.iconsContainer{
  text-align: center;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}
.singleIconContainer{
  padding-left: 0;
  padding-right: 0;
}
.indexLogoContainer {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 10;
}
.logoContainer {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 10;
}
.registroContainer{
  padding-top: 20px;
  text-align: center;
}
.carouselContainer{
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#111314;
  border-radius:10px;
}
.carouselImageContainer{
  width: 1024px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.indexCategoriaContainer{
    padding-top:50px;
}
a.list-group-item{
  background-color: #111314;
  font-size: 16px;
}
a.list-group-item:hover{
  background-color: #041c47;
  color: #fff;
  font-size: 18px;
}
.contenidoContainer{
  margin: 0;
  padding: 0;
}

.mejorRespuestaContainer{
  margin-top: 5px;
  background-color: #151718;
  border-radius:10px;
  border: 2px solid #000;
}
.respuestasContainer{
  margin-top: 5px;
  background-color: #fff;
  border-radius:10px;
  border: 2px solid #000;
}
.categoriaContainer{
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  height: 150px;
  overflow: hidden;
}

/* ------------------------- ELEMENT STYLES  -----------------------*/
.logo{
  max-width:30%;
}
.separator{
  height: 5px;
  background-color: black;
}
.indexCircle{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  border-radius: 10px 10px 10px 500px;
  z-index: 9;
}
.circle{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  right: -15px;
  background: url(../images/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  border-radius: 10px 10px 10px 500px;
  z-index: 9;
}
.indexCategoriaContainer a{
  color: #FFF
}
.imagenCategoria{
  min-width: 100%;
}
#imagenArte{
  margin-top: -380px; /*Centrar imagen*/
}
#imagenCiencia{
  margin-top: -130px; /*Centrar imagen*/
}
#imagenDeporte{
  margin-top: -450px; /*Centrar imagen*/
}
#imagenProgramacion{
  margin-top: -200px; /*Centrar imagen*/
}
#imagenTecnologia{
  margin-top: -400px; /*Centrar imagen*/
}
.btnCarousel{
  color: #fff;
  background-color: #04b6d1;
  border-color: #04b6d1;
}
.btnCarousel:hover{
  color: #000;
  background-color:#4ac143;
  border-color: #4ac143;
}
.iconosPregunta{
  color: #fff;
  size:50px;
}
.menuIconosCategoria{
  padding-right: 20px;
  color: #4AC143;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 0px #000;
}
.indexIconosCategoria{
  padding-right: 20px;
  padding-left: 20px; /*Quitar*/
  color: #111314;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000;
}
.indexTextoCategoria{
  max-width: 1000px;
  color: #111314;
}
.indexCodigoCategoria{
  margin-left: 10px;
  max-width: 500px;
  background-color: #c8c8c8;
  color: #111314;
}
.iconosCategoria{
  padding-left: 15px; /*Quitar*/
  color: #4ac143;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 1px 1px 0px #000;
}
/*------------------- Modificaciones sobre clases boostrap ---------------------*/
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #04b6d1;
}
.carousel-caption {
  position: absolute;
  top:0px;
  left:0;
  z-index: 10;
  padding-left:5%;
  padding-top:0px;
  padding-bottom:0px;
  text-align: left;
  text-shadow: 2px 1px 0px #000;
}
.carousel-caption h1{
  color: #4ac143;
}
.carousel-caption p{
  position: absolute;
  z-index: 10;
  color: #fff;
  text-align: left;
  text-shadow: 0 6px 2px #000;
}
.carousel-caption a{
  position: absolute;
  z-index: 10;
}
.btn-default {
    color: #FFF;
    background-color: #04b6d1;
    border-color: #04b6d1;
}
.btn-primary {
    color: #fff;
    background-color: #04b6d1;
    border-color: #04b6d1;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: black;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}
/*--------- Media Queries(Texto responsive) -------*/
/* Large desktop */
@media (min-width: 1200px){
  .carouselImageContainer{
    height: 500px;
  }
  .carousel-caption h1{
    font-size: 40px;
  }
  .carousel-caption p{
    top:50%;
    left:20%;
    font-size: 30px;
  }
  .carousel-caption a{
    top:80%;
    left: 55%;
    font-size: 20px;
  }
  .indexPregunta{
    font-size: 25px;
  }
  .indexUsuarioPregunta{
    font-size: 20px;
  }
  .indexCategoria, .indexIconosCategoria{
    font-size: 40px;
  }
  .textoCategoria{
    font-size: 60px;
  }
  .preguntaContainer{
    margin-top: 20px;
    background-color: #4ac143;
    border-radius:10px;
    border: 2px solid #000;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px){
  .indexIconsContainer{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .carouselImageContainer{
    height: 400px;
  }
  .carousel-caption p{
    top:50%;
    left:20%;
    font-size: 30px;
  }
  .carousel-caption a{
    top:80%;
    left: 55%;
    font-size: 15px;
  }
  .indexPregunta{
    font-size: 25px;
  }
  .indexUsuarioPregunta{
    font-size: 20px;
  }
  .indexCategoria, .indexIconosCategoria{
    font-size: 40px;
  }
  .textoCategoria{
    font-size: 30px;
  }
  .preguntaContainer{
    margin-top: 20px;
    background-color: #4ac143;
    border-radius:10px;
    border: 2px solid #000;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px){
  .indexIconsContainer{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .carouselImageContainer{
    height: 400px;
  }
  .carousel-caption p{
    top:40%;
    left:20%;
    font-size: 30px;
  }
  .carousel-caption a{
    top:75%;
    left: 55%;
    font-size: 15px;
  }
  .indexPregunta{
    font-size: 20px;
  }
  .indexUsuarioPregunta{
    font-size: 15px;
  }
  .textoCategoria{
    font-size: 20px;
  }
  .preguntaContainer{
    margin-top: 20px;
    background-color: #4ac143;
    border-radius:10px;
    border: 2px solid #000;
  }
}

/* Landscape phones and down */
@media (max-width: 480px){
  .indexIconsContainer{
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .carouselImageContainer{
    height: 300px;
  }
  .carousel-caption h1{
    font-size: 30px;
  }
  .carousel-caption p{
    font-size: 20px;
  }
  .carousel-caption a{
    font-size: 10px;
  }
  .indexPregunta{
    font-size: 15px;
  }
  .indexUsuarioPregunta{
    font-size: 15px;
  }
  .indexCategoria, .indexIconosCategoria{
    font-size: 30px;
  }
  .textoCategoria{
    font-size: 10px;
  }
  .preguntaContainer{
    margin-top: 20px;
    background-color: #4ac143;
    border-radius:10px;
    border: 2px solid #000;
  }
}
