/* ------------------------- BASE STYLES -----------------------*/
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #d3d3d3;
    color: #fefefe;
}
h1,h2,h3{
  color: #111314;
}

/* ------------------------- TEXT STYLES -----------------------*/
.indexFecha{
  font-weight: bold;
  text-decoration:underline;
}
.indexCategoria{
  font-size: 40px;
}
.indexCategoria a{
  color: #4ac143;
  padding-top: 20px;
  padding-bottom: 30px;
}
.codigoContainer{
  text-align: justify;
  max-width: 70%;
  margin-left: 10px;
  background-color: #c8c8c8;
  color: #111314;
}
.textoCategoria{
  position: absolute;
  bottom: -10px;
  background: url(../img/rogo/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  color: #fff;
  border-radius: 0 100px 0 0;
}
.categoriaContainer p{
    font-size: 40px;
}
.categoriaContainer span{
    padding-left: 5px;
    margin-right: 50px;
    color: #4ac143;
}
.encabezadoContainer a{
  text-align: left;
  color: #041c47;
  text-decoration: overline;
}

.indexVoto a,p{
  color: #111314;
}
.indexVoto .btnPregunta{
  color: #fff;
}
.puntuacion{
  font-size: 35px;
}
.indexVoto a:hover{
  color: #041c47;
  text-decoration: underline;
}
.textoPregunta{
  font-size: 14px;
  text-align: justify;
  color: #111314;
}
.textoMejorRespuesta{
  font-size: 14px;
  text-align: justify;
  color: #fff;
}
/* ------------------------- Textures  -----------------------*/
.bodyNoise{
  background: url(../img/rogo/noiseBody.png) repeat center center;
}
.headerNoise{
  background: url(../img/rogo/noiseHeaderGrey.png) repeat center center;
}
/* ------------------------- CONTAINERS STYLES  -----------------------*/
.headContainer {
  padding-top: 20px;
  background-color:#111314;
}
.buscarContainer{
  padding-top: 10px;
  padding-bottom: 10px;
}
.headerIconsContainer{
  text-align: center;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}
.headerIconsContainer span{
  color:#04b6d1;
}
.iconsContainer{
  text-align: center;
  padding-top: 15px;
  padding-left: 0px;
}
.iconsContainer span{
  color:#04b6d1;
}
.singleIconContainer{
  padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.indexLogoContainer {
  position: absolute;
  right: 0;
  z-index: 10;
}
.logoContainer {
  position: absolute;
  padding: 0;
  top: 10%;
  right: 10px;
  text-align: right;
  z-index: 10;
}
.registroContainer{
  padding-top: 20px;
  text-align: center;
}
.userDataContainer{
    background: transparent;
    margin-top: 50px;
}
.userDataContainer h3{
    color: #04b6d1;
}
.userDataContainer .homeUserData{
    color: #fff;
}

.carouselContainer{
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  padding-bottom:5px;
  background-color:#111314;
  border-radius:10px;
}
.carouselImageContainer{
  width: 1024px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.indexCategoriaContainer{
    padding-top:50px;
}
.contenidoContainer{
  margin: 0;
  padding: 0;
}
.avatarContainer{
  position: relative;
  bottom: -15px;
}
.indexPreguntaContainer{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
}
.preguntaContainer{
    margin-top: 20px;
    background-color: #4ac143;
    border-radius:10px;
    color: #151718;
}
.usuarioPregunta,.usuarioMejorRespuesta{
   margin-top: 10px;
}
.preguntaContainer .encabezadoContainer p{
  text-decoration: underline;
    font-weight: bold;
}
.preguntaContainer .encabezadoContainer span{
    margin-top: 5px;
    font-size: 30px;
}
.preguntaContainer .votePoints{
    font-size: 40px;
    color: #041c47;
}
.preguntaContainer .votes{
    font-size: 30px;
}

.preguntaContainer .voteActive{
    color: #041c47;
}
.mejorRespuestaContainer{
  margin-top: 25px;
  background-color: #151718;
}
.mejorRespuestaContainer .encabezadoContainer{
    font-size: 20px;
}
.mejorRespuestaContainer .encabezadoContainer .glyphicon-star{
    font-size: 25px;
    color: #4ac143;
}
.mejorRespuestaContainer .votePoints{
    font-size: 25px;
    color: #4ac143;
}
.mejorRespuestaContainer .votes{
    font-size: 20px;
}
.mejorRespuestaContainer .usuarioMejorRespuesta p{
  color: #fff;
}
 .mejorRespuestaContainer .btnComentarios,.respuestasContainer .btnComentarios{
    font-size: 15px;
     color:#000;
     background-color: #c8c8c8;
    border-color: #c8c8c8;
}

.respuestasContainer{
    margin-top: 20px;
    margin-bottom: 30px;
  color: #111314;
    background: url(../img/rogo/noiseBody.png) repeat center center;
    background-color: #fefefe;
}
.respuestasContainer .encabezadoContainer{
  font-size: 25px;
}
.respuestasContainer .votePoints{
    font-size: 25px;
    color: #041c47;
}
.respuestasContainer .votes{
    font-size: 20px;
}

.comentarioContainer{
  border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 2px;
  font-size: 12px;
  color: #000;
  background-color: #c8c8c8;
    font-weight: bold;
}
.comentarioContainer a{
    color: #000;
}
.comentarioContainer a:hover{
    color: #000;
}
.comentarioContainer .avatarPregunta{
  width: 20px;
}
.categoriaContainer{
  background: url(../img/rogo/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  height: 150px;
  overflow: hidden;
}
.mainQuestionContainer{
    background: url(../img/rogo/noiseHeaderGrey.png) repeat center center;
  background-color: #111314;
}
.nuevaRespuestaContainer{
    text-align: center;
    margin-top: 10px;
   color:#fff;
}
.nuevaRespuestaContainer a{
    background-color: #111314;
}
.nuevaRespuestaContainer span{
    color: #04b6d1;
    font-size: 100px;
}

/* ------------------------- ELEMENT STYLES  -----------------------*/
.logo{
  max-width:30%;
}
.separator{
  height: 5px;
  background-color: black;
}
.indexCircle{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url(../img/rogo/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  border-radius: 10px 10px 10px 500px;
  z-index: 9;
}
.circle{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url(../img/rogo/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
  border-radius: 10px 10px 10px 500px;
  z-index: 9;
}
.headerIconsContainer a{
    color: #fff;
}
.iconsContainer a{
    color: #fff;
}
.indexCategoriaContainer a{
  color: #FFF
}
.preguntaContainer a{
    color: #151718;
}
.preguntaContainer a:hover{
    color: #041c47;
}
.mejorRespuestaContainer a{
    color: #fff;
}
.mejorRespuestaContainer a:hover{
    color: #4ac143;
}
.mejorRespuestaContainer .voteActive{
    color: #4ac143;
}
.respuestasContainer a{
    color: #151718;
}
.respuestasContainer a:hover{
    color: #041c47;
}
.respuestasContainer .voteActive{
    color: #041c47;
}
.avatar{
  padding-top: 70px;
  padding-left: 50px;
}
.botonAvatar{
  padding-top: 60px;
}
.menuUsuario{
    padding-top: 25px;

}
.navbar{
  background: url(../img/rogo/noiseHeaderGrey.png) repeat center center;
  background-color:#111314;
}

.imagenCategoria{
  min-width: 100%;
}
#imagenArte{
  margin-top: -380px; /*Centrar imagen*/
}
#imagenCiencia{
  margin-top: -130px; /*Centrar imagen*/
}
#imagenDeporte{
  margin-top: -450px; /*Centrar imagen*/
}
#imagenProgramacion{
  margin-top: -200px; /*Centrar imagen*/
}
#imagenTecnologia{
  margin-top: -400px; /*Centrar imagen*/
}
.btnCarousel{
  color: #fff;
  background-color: #04b6d1;
  border-color: #04b6d1;
}
.btnCarousel:hover{
  color: #000;
  background-color:#4ac143;
  border-color: #4ac143;
}
.btnPregunta{
  font-size: 15px;
  color: #fff;
  background-color: #041c47;
  border-color: #041c47;
}
.btnPregunta:hover{
  color: #000;
  background-color:#4ac143;
  border-color: #4ac143;
}

.menuIconosCategoria{
  padding-right: 20px;
  color: #4AC143;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 0px #000;
}
.indexIconosCategoria{
  padding-right: 20px;
  padding-left: 20px; /*Quitar*/
  color: #111314;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000;
}
.indexTextoCategoria{
  max-width: 1000px;
  color: #111314;
}
.indexCodigoCategoria{
  margin-left: 10px;
  max-width: 500px;
  background-color: #c8c8c8;
  color: #111314;
}
.avatarPregunta{
  width: 30px;
  height: auto;
}
/*------------------- Modificaciones sobre clases boostrap ---------------------*/
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #04b6d1;
}
.carousel-caption {
  position: absolute;
  top:0px;
  left:0;
  z-index: 10;
  padding-left:5%;
  padding-top:0px;
  padding-bottom:0px;
  text-align: left;
  text-shadow: 2px 1px 0px #000;
}
.carousel-caption h1{
  color: #4ac143;
}
.carousel-caption p{
  position: absolute;
  z-index: 10;
  color: #fff;
  text-align: left;
  text-shadow: 0 6px 2px #000;
}
.carousel-caption a{
  position: absolute;
  z-index: 10;
}
.carousel-control{
    color: #04b6d1;
}
.carousel-control:focus{
    color: #04b6d1;
}
.btn-default {
    color: #FFF;
    background-color: #04b6d1;
    border-color: #04b6d1;
}
.btn-primary {
    color: #fff;
    background-color: #04b6d1;
    border-color: #04b6d1;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: black;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}
a.list-group-item{
    background-color: #111314;
    font-size: 16px;
    text-align: left;
}
a.list-group-item:hover{
    background-color: #041c47;
    color: #fff;
    font-size: 18px;
    text-align: left;
}
.form-group{
    padding-top: 15px;
    color: #111314;
}
.checkbox{
    color: #111314;
}
.img-rounded{
  margin-bottom: 13px;
}
/* ------------------------- Calendario  -----------------------*/
.cal{
  margin-top: 20px;
  color: #404040;
}

caption{
  line-height: 32px;
  font-weight: bold;
  color: #e2e2e2;
  text-align: center;
  text-shadow: 0 -1px black;
  background: #111314;
  border-top: 1px solid #333;
  border-bottom: 1px solid #313131;
}
caption a{
  line-height: 32px;
  padding: 0 10px;
  font-size: 15px;
  color: #4ac143;
}

caption a:hover { color: #fff; }
caption a.prev { float: left; }
caption a.next { float: right; }

th{
  text-align: center;
  font-size: 15px;
  color: #111314;
  text-transform: uppercase;
  background: #f3f3f3;
}

td {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}
td a {
  line-height: 28px;
  color: #666;
}

.off{
  text-decoration: line-through;
}

td.active a, a:active {
   margin: -1px;
   color: #f3f3f3;
   background: #4ac143;
   border: 1px solid #4ac143;
 }
/*--------- Media Queries(Texto responsive) -------*/
/* Large desktop */
@media (min-width: 1200px){
  .carouselImageContainer{
    height: 500px;
  }
  .carousel-caption h1{
    font-size: 40px;
  }
  .carousel-caption p{
    top:50%;
    left:20%;
    font-size: 30px;
  }
  .carousel-caption a{
    top:80%;
    left: 55%;
    font-size: 20px;
  }
  .encabezadoContainer p{
    font-size: 30px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px){
  .headerIconsContainer{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .carouselImageContainer{
    height: 400px;
  }
  .carousel-caption p{
    top:50%;
    left:20%;
    font-size: 30px;
  }
  .carousel-caption a{
    top:80%;
    left: 55%;
    font-size: 15px;
  }
  .encabezadoContainer p{
    font-size: 30px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px){
  .headerIconsContainer{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .carouselImageContainer{
    height: 400px;
  }
  .carousel-caption p{
    top:40%;
    left:20%;
    font-size: 30px;
  }
  .carousel-caption a{
    top:75%;
    left: 55%;
    font-size: 15px;
  }
  .encabezadoContainer p{
    font-size: 28px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px){
  .headerIconsContainer{
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .carouselImageContainer{
    height: 300px;
  }
  .carousel-caption h1{
    font-size: 30px;
  }
  .carousel-caption p{
    font-size: 20px;
  }
  .carousel-caption a{
    font-size: 10px;
  }
  .encabezadoContainer p{
      text-align: justify;
    font-size: 20px;
  }
  .indexCategoria{
    font-size: 30px;
  }
  .singleIconContainer{
      font-size: 12px;
  }
.categoriaContainer p{
    font-size: 30px;
}
.preguntaContainer .encabezadoContainer span{
    font-size: 20px;
}
.preguntaContainer .votePoints{
        font-size: 25px;
}
.preguntaContainer .votes{
        font-size: 25px;
}
}
